div.card-container img {
  width: 50px;
  height: 70px;
}

@media (min-width: 480px) {
  div.card-container img {
    width: 65px;
    height: 91px;
  }
}

@media (min-width: 576px) {
  div.card-container img {
    width: 80px;
    height: 112px;
  }
}

@media (min-width: 768px) {
  div.card-container img {
    width: 120px;
    height: 168px;
  }
}

@media (min-width: 992px) {
  div.card-container img {
    width: 160px;
    height: 224px;
  }
}

@media (min-width: 1200px) {
  div.card-container img {
    width: 210px;
    height: 294px;
  }
}