/* Card: photoshop css
 *********************************************************/
:root {
  --dark-color: #b27ce5;
  --earth-color: #bb7514;
  --electric-color: #fff000;
  --fire-color: #f0300a;
  --ghost-color: #d2c9c9;
  --ice-color: #93d7e6;
  --light-color: #fbc66e;
  --normal-color: #aeaeae;
  --plant-color: #75b719;
  --psychic-color: #f514c3;
  --water-color: #0054ff;
}

.titleArea {
  position: absolute;
  left: 22.579px;
  top: -1px;
  width: 282.24px;
  height: 48.99px;
  z-index: 10;
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroName {
  font-size: 27.095px;
  font-family: "Orbitron";
  color: rgb(253, 246, 246);
  line-height: 1.2;
  text-align: center;
  text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.75);
}

.stats {
  position: absolute;
  left: -1px;
  top: 374.82px;
  width: 168.346px;
  height: 95.737px;
  z-index: 51;
  display: grid;
  grid-template-columns: auto auto 5.65px 11.289px;
  grid-template-areas: "ATK ATK_val MATK MATK_val"
    "DEF DEF_val MDEF MDEF_val" "HP HP_val SPD SPD_val";
  justify-content: space-around;
  align-items: center;
  grid-column-gap: 28.224px;
}

.statName {
  font-size: 12.418px;
  font-family: "Orbitron";
  color: rgb(253, 253, 253);
  line-height: 1.2;
  position: absolute;
}

.MDEF {
  z-index: 50;
  grid-area: MDEF;
}

.MATK {
  z-index: 49;
  grid-area: MATK;
}

.HP {
  z-index: 48;
  grid-area: HP;
}

.SPD {
  z-index: 47;
  grid-area: SPD;
}

.DEF {
  z-index: 46;
  grid-area: DEF;
}

.ATK {
  z-index: 45;
  grid-area: ATK;
}

.statValue {
  font-size: 12.418px;
  font-family: "Orbitron";
  line-height: 1.2;
  position: absolute;
}

.MDEF_VAL {
  grid-area: MDEF_val;
  z-index: 58;
}

.MATK_VAL {
  grid-area: MATK_val;
  z-index: 57;
}

.HP_VAL {
  grid-area: HP_val;
  z-index: 56;
}

.SPD_VAL {
  grid-area: SPD_val;
  z-index: 55;
}

.DEF_VAL {
  grid-area: DEF_val;
  z-index: 54;
}

.ATK_VAL {
  grid-area: ATK_val;
  z-index: 53;
}

.cardImg {
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
  top: 48.433px;
  width: 309px;
  height: 305.048px;
  z-index: 6;
}

.templateImg {
  position: absolute;
  z-index: 7;
}

.saga {
  font-size: 13.548px;
  font-family: "Orbitron";
  color: rgb(247, 223, 103);
  line-height: 1.2;
  text-align: left;
  position: absolute;
  z-index: 28;
}

.sagaArea {
  position: absolute;
  top: 353.369px;
  width: 180.636px;
  height: 19.193px;
  left: 0px;
  z-index: 29;
  display: flex;
  justify-content: center;
  align-items: center;
}

.abilityArea {
  position: absolute;
  top: 374.819px;
  width: 112.897px;
  height: 95.737px;
  left: 191.925px;
  z-index: 59;
}

.abilityTitle {
  font-size: 13.548px;
  font-family: "Orbitron";
  color: rgb(247, 223, 103);
  line-height: 1.5;
  text-align: center;
  z-index: 60;
}

.abilityName {
  font-size: 13.548px;
  font-family: "Orbitron";
  color: red;
  line-height: 1.5;
  text-align: center;
  z-index: 60;
}

.levelArea {
  position: absolute;
  top: 353.369px;
  width: 107.252px;
  height: 19.193px;
  left: 199.828px;
  z-index: 40;
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

.levelStar {
  background-image: url("../img/elements/star.png");
  width: 20px;
  height: 16px;
}

/* Card: custom css
 *********************************************************/
.heroCardFather {
  width: 231.75px;
  height: 375px;
  margin-left: 0px;
  margin-right: 0px;
  box-shadow: 6px 6px 7px #00000080;
  border-radius: 12px;
}

.heroCardDeckFather {
  width: 231.75px;
  height: 375px;
  margin-left: 0px;
  margin-right: 0px;
  
  box-shadow: 6px 6px 7px #00000080;
  border-radius: 12px;
}

#deck-form #selected-card-slots .heroCardFather {
  width: 30px;
  height: 75px;
}

.heroCard {
  transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75); /* IE 9 */
  -webkit-transform: scale(0.75, 0.75); /* Safari and Chrome */
  -o-transform: scale(0.75, 0.75); /* Opera */
  -moz-transform: scale(0.75, 0.75); /* Firefox */
  
  -webkit-transition: all .3s ease; /* Safari y Chrome */
  -moz-transition: all .3s ease; /* Firefox */
  -o-transition: all .3s ease; /* IE 9 */
  -ms-transition: all .3s ease; /* Opera */
  
  margin-left: -33px;
}

.heroCard:hover {
  transform: scale(0.8, 0.8);
  -ms-transform: scale(0.8, 0.8); /* IE 9 */
  -webkit-transform: scale(0.8, 0.8); /* Safari and Chrome */
  -o-transform: scale(0.8, 0.8); /* Opera */
  -moz-transform: scale(0.8, 0.8); /* Firefox */
}

.heroCardStatic {
  transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75); /* IE 9 */
  -webkit-transform: scale(0.75, 0.75); /* Safari and Chrome */
  -o-transform: scale(0.75, 0.75); /* Opera */
  -moz-transform: scale(0.75, 0.75); /* Firefox */
  
  margin-left: -33px;
}

.heroCardDeck {
  transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75); /* IE 9 */
  -webkit-transform: scale(0.75, 0.75); /* Safari and Chrome */
  -o-transform: scale(0.75, 0.75); /* Opera */
  -moz-transform: scale(0.75, 0.75); /* Firefox */
  
  margin-left: -33px;
}

#selected-card-slots .heroCard {
  transform: scale(0.15, 0.15);
  -ms-transform: scale(0.15, 0.15); /* IE 9 */
  -webkit-transform: scale(0.15, 0.15); /* Safari and Chrome */
  -o-transform: scale(0.15, 0.15); /* Opera */
  -moz-transform: scale(0.15, 0.15); /* Firefox */
}

#selected-card-slots .heroCard:hover {
  transform: scale(0.75, 0.75);
  -ms-transform: scale(0.75, 0.75); /* IE 9 */
  -webkit-transform: scale(0.75, 0.75); /* Safari and Chrome */
  -o-transform: scale(0.75, 0.75); /* Opera */
  -moz-transform: scale(0.75, 0.75); /* Firefox */
}


/* Responsive 
 * sm >= 576px | md >= 768px | lg >= 992px | xl >= 1200px
 *********************************************************/
@media (min-width: 768px) {
  #deck-form #selected-card-slots .heroCardFather {
    width: 75.25px;
    height: 125px;
  }
  
  #selected-card-slots .heroCard {
    transform: scale(0.25, 0.25);
    -ms-transform: scale(0.25, 0.25); /* IE 9 */
    -webkit-transform: scale(0.25, 0.25); /* Safari and Chrome */
    -o-transform: scale(0.25, 0.25); /* Opera */
    -moz-transform: scale(0.25, 0.25); /* Firefox */
  }

  #selected-card-slots .heroCard:hover {
    transform: scale(0.75, 0.75);
    -ms-transform: scale(0.75, 0.75); /* IE 9 */
    -webkit-transform: scale(0.75, 0.75); /* Safari and Chrome */
    -o-transform: scale(0.75, 0.75); /* Opera */
    -moz-transform: scale(0.75, 0.75); /* Firefox */
  }
}
