/*DECK L
-------------------------------------------------- */
body{
   
  --backgroundVar: transparent important!;
  --backgroundButton: orange;
  --borderColorBox: black;
  --borderColorData: transparent/*#343A40*/;
  --borderColorButton:orange;
  --colorDeckTitle: #343A40;
  --textShadowVar:0rem 0.125rem 0.125rem #ffffff7F;/*White, 70% op.*/
}
.deck-list-title{
  margin-bottom: 1.25rem;
  border-left: 1rem solid var(--borderColorData); 
  padding: 0.625rem;
  font-size: 3.125rem;
  font-weight: bolder;
  text-shadow: var(--textShadowVar);  padding: 1rem;
  margin: 1.875rem;
}

.deck-list-data-box{  
  padding: 1rem;
  border: 0.0625rem solid var(--borderColorBox);
  background-color:   var(--backgroundVar); /*Black, 70% op.*/
  color: var(--fontColorVar);
  margin: 1.875rem;
}

.deck-list-title-row{
  display:flex;
  align-items: center;
  margin-bottom: 0.5rem;
  justify-content: space-between;
  
}

.deck-title{ 
  margin-left: 1rem;
  padding: 0.5rem;
  border-left: 0.5rem solid var(--borderColorVar) ; 
  color:var(--colorDeckTitle);
  
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.deck-title:link, deck-title:visited{
 text-decoration: none;
}
 .deck-title:hover{
 color:#f6a305 !important;
}


/* EACH CARD OF THE DECK
-------------------------------------------------- */
.deck-list-card > img{
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
}

.deck-list-card > img:hover{
 -webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);
  
}