/* Desk List
 *********************************************************/
#deck-list .card {
  border-color: black;
  box-shadow: 0px 0px 5px #000000
}

#deck-list .card p {
  font-size: var(--movile-p-font-size);
}

  
#deck-list .modal-content {
  background-color: #3b4652;
  opacity: .85;
  padding: 20px;
  box-shadow: 0px 0px 3px #848484;
  color: white;
}

/* Desk Form
 *********************************************************/
#deck-form .card {
  border-color: black;
  box-shadow: 0px 0px 5px #000000
}

#deck-form .modal-content {
   background-color: #dc3545;
   opacity: .85;
   box-shadow: 0px 0px 3px #dc3545;
   color: white;
}

#deck-form .modal-content {
   font-size: var(--movile-p-font-size);
}

#deck-form #deckNumber {
  max-width: 2.6rem;
}

#deck-form .sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 1;
}

#deck-form #selected-card-slots .selected-card-slot {
  width: 150px;
  height: 80px;
  
  margin: 0.5rem;
  
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Responsive 
 * sm >= 576px | md >= 768px | lg >= 992px | xl >= 1200px
 *********************************************************/
@media (min-width: 768px) {
  #deck-list p {
    font-size: var(--desktop-p-font-size);
  }
  
  #deck-form .modal-content {
    font-size: var(--desktop-p-font-size);
  }
  
  #deck-form #selected-card-slots .selected-card-slot {
    width: 200px;
    height: 150px;
    
    margin: 1rem;
    
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #deck-form .card input {
    font-size: var(--desktop-p-font-size);
  }
}