/*DECK L
-------------------------------------------------- */
body{
  
  --backgroundVar: transparent important!;
  --backgroundButton: orange;
  --borderColorBox: black;
  --borderColorData: #343A40;
  --borderColorButton:orange;
  --colorDeckTitle: #343A40;
  --textShadowVar:0rem 0.125rem 0.125rem #ffffff7F;/*White, 70% op.*/
}
.deck-list-title{
  margin-bottom: 1.25rem;
  border-left: 1rem solid var()--borderColorData); 
  padding: 0.625rem;
  font-size: 3.125rem;
  font-weight: bolder;
  text-shadow: var(--textShadowVar);
 
  padding: 1rem;
  margin: 1.875rem;
}
.deck-list-data-box{
  padding: 1.875rem;
  left: 1.875rem;
  right: 1.875rem;
  border: 0.0625rem solid var(--borderColorBox);
  background-color:   var(--backgroundVar); /*Black, 70% op.*/
  color: var(--fontColorVar);
  margin: 1.875rem;

}
.deck-list-title-row{
  display:flex;
  align-items: center;
  margin-bottom: 1rem;
  
}
.deck-title{
  margin-left: 1rem;
  padding: 0.5rem;
  border-left: 0.5rem solid var(--borderColorVar) ; 
  color:var()--colorDeckTitle;
  
  -webkit-transition: color 1s ease-out;
  -moz-transition: color 1s ease-out;
  -o-transition: color 1s ease-out;
  transition: color 1s ease-out;
}

.deck-title:link, deck-title:visited{
 text-decoration: none;
}
 .deck-title:hover{
 color:#f6a305 !important;
}

/* EDIT BUTTON
-------------------------------------------------- */
/*Icon of the edit button*/
.edit-button-deck-list{
  display:flex;
  margin: 1.25rem !important;
}
.edit-button-deck-list > img{
  width: 3.125rem;
  height: 3.125rem;
}
/*Text of the edit button*/
.edit-button-deck-list > a{
  height: 3.125rem;
  border: 0.0625rem solid #f6a305;
  background-color: transparent;
  border-radius:0;
  font-weight: bolder !important;
  font-size: 1.563rem;
  
}
/*Transition of the button*/
.edit-button-deck-list > a{
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
 
}
.edit-button-deck-list >a:hover{
  background-color: #f6a305;
  border: 0.0625rem solid #f6a305;
}

.edit-button-deck-list >a:active{
  background-color:  #f6a305 !important;
  border: 0.0625rem solid #f6a305 !important;
}
.edit-button-deck-list >a:focus{
  background-color: #f6a305 !important;
  border: 0.0625rem solid #f6a305 !important;
}

/* ADD BUTTON
-------------------------------------------------- */
/*Icon of the add button*/
.add-button-deck-list{
  display:flex;
  margin: 3rem !important;
}
.add-button-deck-list > img{
  width: 3.125rem;
  height: 3.125rem;
}
/*Text of the add button*/
.add-button-deck-list > a{
  height: 3.125rem;
  border: 0.0625rem solid #f6a305;
  background-color: transparent;
  border-radius:0;
  font-weight: bolder !important;
  font-size: 1.563rem;
  
}
/*Transition of the button*/
.add-button-deck-list > a{
  -webkit-transition: background-color 1s ease-out;
  -moz-transition: background-color 1s ease-out;
  -o-transition: background-color 1s ease-out;
  transition: background-color 1s ease-out;
 
}
.add-button-deck-list >a:hover{
  background-color: #f6a305;
  border: 0.0625rem solid #f6a305;
}

.add-button-deck-list >a:active{
  background-color:  #f6a305 !important;
  border: 0.0625rem solid #f6a305 !important;
}
.add-button-deck-list >a:focus{
  background-color: #f6a305 !important;
  border: 0.0625rem solid #f6a305 !important;
}

/* EACH CARD OF THE DECK
-------------------------------------------------- */
.deck-list-card > img{
-webkit-transition:all .9s ease; /* Safari y Chrome */
-moz-transition:all .9s ease; /* Firefox */
-o-transition:all .9s ease; /* IE 9 */
-ms-transition:all .9s ease; /* Opera */
}

.deck-list-card > img:hover{
 -webkit-transform:scale(1.15);
-moz-transform:scale(1.15);
-ms-transform:scale(1.15);
-o-transform:scale(1.15);
transform:scale(1.15);
  
}

.deck-list-card >  img{
  border: 0.0625rem solid #f6a305 !important;
}





