/* Global
 *********************************************************/
:root {
  --movile-title-font-size: 2rem;
  --desktop-title-font-size: 3.25rem;
  
  --movile-h1-font-size: 2.4rem;
  --desktop-h1-font-size: 3.25rem;
  
  --desktop-h2-font-size: 2.25rem;
  
  --movile-h3-font-size: 1.15rem;
  --desktop-h3-font-size: 1.85rem;
  
  --movile-subtitle-font-size: 1.15rem;
  --desktop-subtitle-font-size: 1.4rem;
  
  --movile-p-font-size: 1.15rem;
  --desktop-p-font-size: 1.25rem;
  
  --movile-table-font-size: 0.85rem;
  --desktop-table-font-size: 1rem;
  
  --movile-button-font-size: 1rem;
  --desktop-button-font-size: 1.25rem;
}

/* Default
 *********************************************************/
html {
  position: relative;
  min-height: 100%;
}

body {
  padding-bottom: 4px;
  margin-bottom: 80px; /* Margin bottom by footer height */
  background-color: #f5f5f5;
  
  /* background-image: url("../img/default/background.png"); */
  background-repeat: no-repeat;
  background-size: cover;  
  font-family: "Orbitron";
  src: url('../font/orbitron.ttf');
  color: #494949;
}

.container-fluid {
  padding-right: 0;
  padding-left: 0;
}

.row {
  margin-right: 0;
  margin-left: 0;
}

@font-face {
    font-family: "Orbitron"; /* A name to be used later */
    src: url('../font/orbitron.ttf'); /* URL to the custom font */
}

.a {
  text-decoration: none;
}

/* Datatables
 *********************************************************/
.table-overflow-x {
  overflow-x: auto;
}

.mySimpleTable th {
  font-size: var(--movile-table-font-size);
}

.mySimpleTable td {
  font-size: var(--movile-table-font-size);
}

.myTable th {
  font-size: var(--movile-table-font-size);
}

.myTable td {
  font-size: var(--movile-table-font-size);
}

/* Top button
 *********************************************************/
#topButton {
  display: none; /* Hidden by default */
  position: fixed; /* Fixed/sticky position */
  bottom: 15px; /* Place the button at the bottom of the page */
  right: 20px; /* Place the button 20px from the right */
  z-index: 99; /* Make sure it does not overlap */
}

/* Menus
 *********************************************************/
.title-style {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
  border-left: 1rem solid #dc3545; 
  padding: 0.625rem;
  font-size: var(--movile-title-font-size);
  font-weight: bolder;
}

.button-style {
  font-size: var(--movile-button-font-size);
}

/* Responsive 
 * sm >= 576px | md >= 768px | lg >= 992px | xl >= 1200px
 *********************************************************/
@media (min-width: 768px) {
  .title-style {
     font-size: var(--desktop-title-font-size);
  }
  
  .button-style {
    font-size: var(--desktop-button-font-size);
  }
  
  .mySimpleTable th {
    font-size: var(--desktop-table-font-size);
  }

  .mySimpleTable td {
    font-size: var(--desktop-table-font-size);
  }
  
  .myTable th {
    font-size: var(--desktop-table-font-size);
  }

  .myTable td {
    font-size: var(--desktop-table-font-size);
  }
}