/* Logo
 *********************************************************/
#forgot img {
  height: 150px;
  width: 180px;
}

/* Sign in
 *********************************************************/
#forgot .modal-content {
   background-color: #3b4652;
   opacity: .85;
   padding: 20px;
   box-shadow: 0px 0px 3px #848484;
}

/* Responsive 
 * sm >= 576px | md >= 768px | lg >= 992px | xl >= 1200px
 *********************************************************/
@media (min-width: 768px) {
  #forgot #forgot-title h2 {
    font-size: var(--desktop-h2-font-size);
  }
}