/* Carousel 
 *********************************************************/
#home #myCarousel {
  margin-bottom: 5rem;
  box-shadow: 0px 0px 5px red;
}

#home .carousel-caption {
  bottom: 4rem;
}

#home .carousel-caption h1 {
  font-size: var(--movile-h1-font-size);
}

#home .carousel-item {
  height: 32rem;
  background-color: #777;
}

#home .carousel-item > img {
  position: absolute;
  top: 0;
  left: 0;
  min-width: 100%;
  height: 32rem;
}

#home .carousel-text span {
  background-color: #00000080;
}

/* Features
 *********************************************************/
#home .rounded-circle {
  box-shadow: 0px 0px 10px black;
}

/* News
 *********************************************************/
#home .news-divider {
  margin: 5rem 0;
}

#home .news-heading {
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.05rem;
}

#home .news p {
  font-size: var(--movile-p-font-size);
}

#home .news img {
  box-shadow: 0px 0px 10px black;
}

/* Jumbotron
 *********************************************************/
#home .jumbotron h1 {
  font-size: var(--movile-h1-font-size)
 }
 
#home .subtitle {
  font-size: var(--movile-subtitle-font-size);
 }
 
/* Modal
 *********************************************************/
#home .modal-footer {
  display:flex;
  justify-content: space-between;
}

/* Responsive 
 * sm >= 576px | md >= 768px | lg >= 992px | xl >= 1200px
 *********************************************************/
@media (min-width: 768px) {
  #home .carousel-caption h1 {
    font-size: var(--desktop-h1-font-size);
  }
  
  #home .carousel-caption p {
    margin-bottom: 1.25rem;
    font-size: var(--desktop-p-font-size);
    line-height: 1.4;
  }

  #home .features h2 {
    font-size: var(--desktop-h2-font-size);
  }
  
  #home .features p {
    font-size: var(--desktop-p-font-size);
  }
  
  #home .news-heading {
    font-size: 50px;
  }
  
  #home .news .subtitle {
    font-size: var(--desktop-subtitle-font-size);
  }
  
  #home .modal-footer button {
    font-size: 100%;
  }
}