/* Win chart
 *********************************************************/
#profile-data #win-chart {
  width: 100%; 
  margin: 0 auto;
}

/* Achievement chart
 *********************************************************/
#profile-data #achievement-chart {
  display: flex;
  justify-content: center;
}

/* Responsive 
 * sm >= 576px | md >= 768px | lg >= 992px | xl >= 1200px
 *********************************************************/
@media (min-width: 576px) {
  #profile-data #win-chart {
    width: 80%; 
  }
}
 
@media (min-width: 768px) {
  #profile-data #win-chart {
    width: 60%; 
  }
}

@media (min-width: 992px) {
  #profile-data #win-chart {
    width: 70%; 
  }
}

@media (min-width: 1200px) {
  #profile-data #win-chart {
    width: 50%; 
  }
}