/* List
 *********************************************************/
#tournament_list h3 {
  font-size: var(--movile-h3-font-size);
}
  
#tournament_list .modal-content {
   background-color: #3b4652;
   opacity: .85;
   padding: 20px;
   box-shadow: 0px 0px 3px #848484;
   color: white;
}

/* Responsive 
 * sm >= 576px | md >= 768px | lg >= 992px | xl >= 1200px
 *********************************************************/
@media (min-width: 768px) {
  #tournament_list h3 {
    font-size: var(--desktop-h3-font-size);
  }
}